/**************ROOTS */
:root {
  /* COLORS */
  --color-primary: #003144;
  --bg-color-main: #FCFCFC;
  --bg-color-lg: #FDFDFD;
  --bg-color: #F2F2F2;
  --text-color: #333333;
  /* SPACING */
}

/**************MAIN */
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  min-height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  /* line-height: 0; */
}

h3 {
  font-size: 2rem;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  line-height: 1.5;
  font-size: 1.3rem;
  background-color: var(--bg-color-main);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: var(--color-primary);
  color: white;
  font-size: 1rem;
  line-height: 1;
  padding: 10px;
}

/**************NAVBAR */
.logo-img {
  height: 70px;
  padding: 10px;
}

.logo-link {
  display: flex;
  color: white;
}

.logo-link p {
  font-weight: 900px;
}

#toggle {
  display: none;
}

#menu {
  position: fixed;
  top: 0;
  z-index: 2;
  right: 0px;
  padding: 0;
}

.menu-item {
  display: inline-block;
}

.menu-item a {
  color: white;
  font-size: 1.1rem;
  padding: 20px 20px;
}

.menu-item a:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition-duration: 0.3s;
}

/**************CONTENT */
/* HEADER */
.header {
  display: flex;
  justify-content: center;
  background-image: url("../img/index-img/tadej-skofic-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-two {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 100px 50px 50px 50px;
}

.header-text {
  padding: 0 2rem;
}

.header div {
  margin: 15rem auto;
}

.header h3 {
  font-weight: 400;
}

/* CONTENT - 3 COLUMN*/
.col-3 {
  display: flex;
  justify-content: center;
}

.col-3 div {
  background-color: white;
  margin: 20px;
  width: 500px;
}

.col-3 h3 {
  line-height: 1.2;
}

.box-padding {
  padding-bottom: 50px;
}

.box-padding ul {
  margin-left: 25px;
}

.box-padding h3 {
  padding: 0 50px;
}

.box-padding p {
  padding: 0 50px 20px 50px;
}

.box-padding a {
  margin: 0 50px 0 50px;
}

.box-padding img {
  width: 100%;
}

/* CONTENT - 1 COLUMN */
.col-1 {
  display: flex;
}

.col-1-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100rem;
}

.index-col-pic {
  background-image: url("../img/index-img/about-bekir-donmez.jpg");
}

.program-col-pic {
  background-image: url("../img/get-involved-img/cytonn-photography.jpg");
}

.col-1-text {
  padding: 0px 50px 70px 50px;
  background-color: var(--bg-color);
}

.col-1-text p {
  padding-bottom: 25px;
}

/* PAGE BREAK */
.picture-break {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.pic-br-about {
  background-image: url("../img/about-img/corina-ardeleanu-about.jpg");
  height: 10rem;
}

.pic-br-feature {
  background-image: url("../img/program-img/priscilla-du-preez.jpg");
  height: 30rem;
}

/* AFFILIATION */
.strip-text {
  padding: 25px;
  margin: 0px 25px;
}

/* RESOURCE */
.center-resources {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem 5rem 1rem;
}

.resource-text {
  width: 900px;
}

.resource-text p {
  padding-bottom: 50px;
}

.resource-block {
  padding: 25px;
}

.resource-sub {
  padding: 25px;
  margin: 25px auto;
  max-width: 1000px;
  background-color: white;
}

.resource-sub a {
  text-decoration: underline;
}

.resource-sub ul {
  margin-top: -20px;
}

/* CONTACT */
.contact-text {
  color: white;
  padding: 2rem 2rem 0 2rem;
}

.contact-text p {
  padding-top: 2rem;
}

.contact-text h2 {
  margin-bottom: 0;
}

/**************BACKGROUND STYLE */
.color-bg {
  background-color: var(--bg-color);
}

.color-bg-primary {
  background-color: var(--color-primary);
}

.color-bg-strong {
  background-color: var(--text-color);
}

/**************BUTTON */
.btn {
  color: white;
  /* display: block;
  width: 200px; */
  background-color: var(--color-primary);
  padding: 10px 30px;
  border: 1px solid var(--color-primary);
  font-weight: 400;
}

.btn:hover {
  color: var(--color-primary);
  background-color: white;
  transition-duration: 0.3s;
}

.socials {
  padding: 0 auto 3rem auto;
  display: flex;
  justify-content: center;
}

.socials p {
  padding: 1rem;
}

.socials p:hover {
  color: var(--bg-color-main);
  transition-duration: 0.3s;
}

/**************GENERAL STYLE */
.center-text {
  text-align: center;
}

.center-obj {
  margin: auto;
}

.white-text {
  color: white;
}

.spacing {
  margin: auto;
  padding: 5rem 0rem;
}

.spacing-w-s {
  margin: 5rem 5rem;
}

.shadow {
  box-shadow: 0px 5px 10px 1px gray;
}

.nav-shadow {
  box-shadow: 0px 1px 2px 0px black;
}

.txt-shadow {
  text-shadow: 4px 4px 20px black;
}

.max-p {
  max-width: 1100px;
  margin: auto;
  padding: 0 25px 10px 25px;
}

/**************RESPONSIVE */
@media (max-width: 1000px) {

  /* navbar */
  #toggle {
    position: fixed;
    top: 0;
    z-index: 5;
    right: 0px;
    display: block;
    cursor: pointer;
    padding-top: 20px;
  }

  .fa-bars {
    color: white;
    font-size: 2rem;
    padding-right: 20px;
  }

  #menu {
    /* display: none; */
    background-color: var(--color-primary);
    height: 100%;
    width: 80%;
    max-width: 300px;
    margin-top: 0px;
    padding-top: 70px;
  }

  #backdrop {
    /* display: none; */
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .3;
    left: 0;
    transition: .3s;
  }

  .menu-item {
    line-height: 2.5;
    text-align: center;
    padding: 15px 50px;
  }

  .menu-item a {
    font-size: 1.5rem;
  }

  .mobile-menu {
    display: none;
  }

  .visibility {
    display: block;
  }

  /* box padding */
  .box-padding h3 {
    padding: 0 25px;
  }

  .box-padding p {
    padding: 0 25px 25px 25px;
  }

  .box-padding a {
    margin: 25px;
  }
}

@media (max-width: 810px) {

  /* header */
  .header div {
    margin: 10rem auto 3rem auto;
  }

  .header-two {
    padding: 70px 0px 25px 0px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  /* 3 columns */
  .col-3 {
    flex-direction: column;
    align-items: center;
  }

  .col-3 div {
    width: 90%;
    max-width: 400px;
    /* margin: 0 25px; */
  }

  .box-padding ul {
    margin-left: 0px;
  }

  .spacing {
    padding: 2rem 0rem;
  }

  /* 1 column */
  .spacing-w-s {
    margin: 1rem 1rem;
  }

  .col-1-text {
    padding: 0 20px 50px 20px;
  }

  .col-1-pic {
    width: 30rem;
  }

  /* footer */
  .footer-text {
    flex-direction: column;
    font-size: 0.9rem;
    line-height: 1.2;
  }
}
